$yelllow: #FFC017;
$gray: rgba(41, 41, 41, 1);

.nav-bar {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: $yelllow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  z-index: 100;
  border-bottom: 1px solid black;
  .nav-bar-links {
    display: flex;
    align-items: center;
    padding-right: 165px;

    a {
      text-decoration: none;
      color: $gray;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
    }

    button{
      background-color: black;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .nav-bar-links > *:not(:last-child) {
    margin-right: 30px; /* Add spacing between components except for the last one */
  }


  #separator{
    width: 24%;
  }

  .logo{
    height: 25px !important;
    width: 165px !important;
    padding: 175px 150px;
  }
}