.MMM {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  height: 100%;
  text-align: end;
  font-size: 23px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}